language: java


before_install:
  - chmod +x ./scripts/run-tests.sh

install: /bin/true

before_script: "set -ev"

script: "bash ./scripts/run-tests.sh"
#cache:
#  directories:
#  - $HOME/.m2
#
#  before_cache:
#  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
#  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
#
#  cache:
#  directories:
#    - $HOME/.gradle/caches/
#    - $HOME/.gradle/wrapper


#Another config
#language: java
#jdk:
# - oraclejdk8
#after_success:
#  - bash <(curl -s https://codecov.io/bash)/